.footer{
    background: #E57098;
    padding-top: 25px;
    color: #ffffff;
    text-shadow: 0px 0px 6px #ffffff00;
    font-weight: 500;
    margin-top: 20px;
    
}
.container{
    width: auto;
    height: 22rem;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 100%;

    h3{
        /* text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff; */
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
        /* font-family:Garamond; */
        margin-right: 10px;
        font-weight: 700;
        color: #000000;
    }
    p{
        width:190px;
        margin: auto;
        padding: 7px; 
        font-size: 13px;
    }
    ul{
       text-align: center; 
    }
}

.list{
    padding: 0;

    .navItem{
       width: auto;
       text-align: center;
       list-style-type:none;
       padding: 6px;
        position: relative; 
        .navLink{
            color: #ffffff;
            text-shadow: 0px 0px 6px #ffffff00;
            font-weight: 500;
            font-size: 14px;
        }
    }
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 4px;
    background: #ffffff;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding-left: 0;
    .footer_icon{
       display: inline-block;
       text-align: center;
       padding-top: 5px;
       .icon_ft{
           color: rgb(254, 254, 254);
           font-size: 20px;
           padding-right: 5px;
       }
}

}

a{
    text-decoration: none;
}
a:hover{
    color: #b51f44
}
.social-icons i:hover{
    color: #b51f44;
}
.bottom-bar{
    background: #ffffff;
    text-align: center;
    /* padding: 10px 0; */
    margin-top: 30px;
    p{
       color: #E57098;
       text-shadow: 0px 0px 6px #ffffff00;
       font-size: 13px;
       padding: 7px; 
    }
}

@media screen and (min-width: 769px){
    .footer{
        margin-bottom: 0;
        .container{
            .footer-content{
                h3{
                    font-size: 26px;
                }
                p{
                    font-size: 18px;
                }
                .list{
                    .navItem{
                        .navLink{
                            font-size: 18px;
                        }
                    }
                }
                .social-icons{
                    .footer_icon{
                        .icon_ft{
                           font-size: 30px;
                           padding-left: 8px; 
                        }
                        
                    }
                }
            }

        }
        .bottom-bar{
            p{
               font-size: 15px;
            }
        }
    }

}