.infomation{
    padding-top: 5rem;
    padding: 4rem 0 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    .secContainer{
        .sec_header{
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        
           .textDiv{
            text-align: center;
            .sec_title{
                color: black;
                font-weight: 500;
                font-size: 30px;
                /* line-height: 1.5rem; */
                padding-bottom: .5rem;
                
            }
            p{
                font-size: 17px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: black;
                font-weight: 500px;
            }

           }
        }
        .mainContent{
            display: flex;
            align-items: center;
            display: flex;
            padding: 2rem 0;
            gap: 2rem;
            /* transform: translateY(-20px); */
            .singleDestination{
                overflow: hidden;
                border-radius: 1rem;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.904);
                .dest_img{
                    height: 200px;
                    width: 500px;
                    position: relative;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .overlayInfo{
                        position: absolute;
                        display: flex;
                        align-items: flex-start;
                        padding: 0 ;
                        justify-content: center;
                        flex-direction: column;
                        background: linear-gradient(rgba(0, 0, 0, 0.708), rgba(0, 0, 0, 0.849));
                        bottom: 0;
                        width: 100%;
                        height: 0;
                        overflow: hidden;
                        transition: .5s ease;

                        h3{
                            color: white;
                            font-weight: 600;
                        }
                        p{
                            color: #ffffff;
                            opacity: .7;
                            font-family: Georgia, 'Times New Roman', Times, serif;
                            font-size: 15px;
                            height: auto;
                            margin-right: 8px;
                            
                        }
                        .icon{
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            padding: .5rem;
                            background: rgb(255, 255, 255);
                            font-size: 2.3rem;
                            border-radius: 50%;
                            color: #c243a6;
                            border: 2px solid rgb(255, 255, 255);

                            &:hover{
                                background: rgb(56, 50, 50);
                                border: 2px solid white;
                                color: rgb(255, 255, 255);
                               
                            }

                        }

                    
                    }

                }
                .dest_footer{
                   padding: 1rem;
                   .number{
                    font-size: 2rem;
                    font-weight: 700;
                    color: black;
                    position: relative;
                    width: max-content;
                       &::after{
                           content: '';
                           position: absolute;
                           background: #E57098;
                           top: 45%;
                           /* right: -10%; */
                           /* left: 10px; */
                           height: 5px;
                           width: 60px;
                           margin-left: 10px;
                           border-radius: 1rem;
                         }
                    }
                    .dest_test{
                        justify-content: space-between;
                        display: flex;
                        align-items: center;

                        h6{
                         color: black;
                         font-size: 15px;   
                        }
                        .flex{
                           font-size: 16px;
                           font-weight: 200; 
                           align-items: flex-start;
                           transform: translateY(5px);
                        }
                        
                    } 
                }

                &:hover{
                    .overlayInfo{
                        overflow: visible;
                        padding: 1rem 1.5rem;
                        height: 100%;

                    
                    }
                }
            }
        }
    }   
}