.videoCard {
    padding-top: 3rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(26, 26, 26, 0.795)), url(../../../assets/images/ab_bg_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;

    .cardContent{
        gap: 2rem;
        padding: 2rem 2rem;

        .cardText{
            h2{
                color: white;
                font-weight: 700;
                padding-bottom: 1rem;
            }
            p{
                color: white;
                opacity: .7;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 1px;
                padding-bottom: 1rem;
            }

        }

    }
    .cardVideo{
        border: 2px solid white;
        height: 250px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
}
@media screen and (min-width: 769px){

    .videoCard {  
        padding-top: 5rem;
        .cardContent{
            display: flex;
            padding: 40px;
            align-items: center;
            flex-direction: row-reverse;

            .cardText{

                h2{
                    color: white;
                    font-weight: 700;
                    padding-bottom: 1rem;
                    font-size: 35px;
                }
                p{
                    color: white;
                    opacity: .7;
                    font-size: 25px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
    
            }
    
        }
        .cardVideo{
            border: 3px solid white;
            height: 550px;
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
    
            video{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
        }
    }


}