.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.StylePage{
    padding-left: 250px;
    padding-top: 35px;
    margin-top: 50px;
    /* position: fixed; */

}
.ItemPage{
    background-color: rgba(96, 96, 96, 0.118) ;
    padding: 30px;
    border-radius: 20px 0px 0px 0px;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-left: 200px;
    position: fixed;
    z-index: -1;
   
}

.SideMenuAndPageContent{
    /* padding-top: 0px; */
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100% ; 
    overflow-y: scroll;
    overflow-x: hidden;

}

.SideMenu{
    height: 100%;
    width: 100%;
    margin-top: 20px;

}
.SideMenuVertical{
    height: 100%;

}
.PageContent{
    padding-left: 10px;
    padding-top: 100px;
}
 